<div class="container brickContentTwoColumns brickMarginTop-{{ pimcore_select('brickMarginTop').getData() }} brickMarginBottom-{{ pimcore_select('brickMarginBottom').getData() }}">
    <div class="row">
        <div class="col-12 col-lg-6">
            {{ pimcore_wysiwyg('firstCol') }}
        </div>
        <div class="col-12 col-lg-6">
            {{ pimcore_wysiwyg('secondCol') }}
        </div>
    </div>
</div>
