<div class="brick-wysiwyg brickMarginTop-{{ pimcore_select('brickMarginTop').getData() }} brickMarginBottom-{{ pimcore_select('brickMarginBottom').getData() }}">
    {{ pimcore_wysiwyg('wysiwyg') }}
</div>
