<div class="container brickContentOneColumn brickMarginTop-{{ pimcore_select('brickMarginTop').getData() }} brickMarginBottom-{{ pimcore_select('brickMarginBottom').getData() }}">
    <div class="row">
        <div class="col-12">
            {{ pimcore_wysiwyg('text') }}
        </div>
    </div>
</div>
